.card-img-top {
  transition: transform 0.5s ease;
}

.card-img-top:hover {
  transform: scale(1.1);
}

.btn__filter {
  bottom: 50px;
  right: 50px;
  width: 60px;
  height: 60px;
}

.card-separation {
  flex: 1 1 30%;
  min-width: 120px
}

.clase-form .img-container {
  height: 150px;
}