.workout-grid .img-wrap img {
  transition: all 0.3s ease-in-out;
}

.workout-grid .img-wrap img:hover {
  transform: scale(1.03);
  filter: brightness(0.8);
}

.workout-detail {
  background: #fff;
  border-radius: 0 0 0.75rem 0.75rem;
}

.membership-form .img-container {
  height: 150px;
}
