@media (max-width:575px) {
    .caja-img {
        display: flex;
        flex-direction: column;
        margin-bottom: 60px;

    }

    .container-fooder {
        padding: 10px;
    }
}

.btb-redes {
    background-color: var(--red)
}