<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
  <th:block th:fragment="content">
    <div class="container my-4">
      <div class="d-flex justify-content-between align-items-center mb-4">
        <h2><i class="bi bi-card-checklist me-2"></i>Gestión de Clases</h2>
        <button class="btn btn-primary d-none d-lg-inline-flex" data-bs-toggle="modal" data-bs-target="#claseFormModal">
          <i class="bi bi-plus-circle me-2"></i>Crear clase
        </button>
      </div>

      <div class="row">
        <!-- columna izquierda -->
        <aside class="col-12 col-lg-3 mt-4 mb-4 offcanvas-lg offcanvas-start bg-white p-4 rounded-4 shadow-sm"
          style="overflow: visible;" tabindex="-1" id="filtroOffcanvas" aria-labelledby="filtroOffcanvasLabel">

          <div class="offcanvas-header d-flex d-lg-none">
            <h5 class="offcanvas-title" id="filtroOffcanvasLabel">
              <i class="bi bi-funnel me-2"></i>Filtrar clases
            </h5>
          </div>

          <div class="offcanvas-body p-0 p-lg-0">
            <form class="formFilter">
              <h5 class="mb-3 d-none d-lg-block">
                <i class="bi bi-funnel me-2"></i>Filtrar clases
              </h5>

              <div class="input-group mb-3">
                <span class="input-group-text bg-white border-end-0">
                  <i class="bi bi-search"></i>
                </span>
                <input type="text" id="buscarClaseInput" class="form-control border-start-0"
                  placeholder="Buscar clase por nombre..." />
              </div>

              <div class="mb-3">
                <label class="form-label fw-semibold">Fecha inicio</label>
                <input type="date" id="fechaInicioInput" class="form-control">
              </div>

              <div class="mb-3">
                <label class="form-label fw-semibold">Fecha de fin</label>
                <input type="date" id="fechaFinInput" class="form-control" disabled>
              </div>

              <div class="mb-3">
                <label for="estadoInput" class="form-label">Estado</label>
                <select id="estadoInput" class="form-select">
                  <option value="">Todos</option>
                  <option value="Programado">Programado</option>
                  <option value="En curso">En curso</option>
                  <option value="Finalizado">Finalizado</option>
                </select>
              </div>

              <div class="mb-3">
                <label for="intensidadInput" class="form-label">Intensidad</label>
                <select id="intensidadInput" class="form-select">
                  <option value="">Todos</option>
                  <option value="Alta">Alta</option>
                  <option value="Media">Media</option>
                  <option value="Baja">Baja</option>
                </select>
              </div>

              <button type="button" id="resetFiltrosBtn" class="btn btn-primary w-100">
                <i class="bi bi-check-circle me-2"></i>Resetear filtros
              </button>
            </form>
          </div>
        </aside>

        <!-- columna derecha -->
        <div class="col-12 col-lg-9">
          <div class="row" id="clase-container">
            <!-- CARTA -->
            <div class="col-12 col-md-6 col-xl-4" th:each="clase : ${clases}" th:data-id="${clase.claseId}">
              <div class="mt-4 border-0 card overflow-hidden rounded-4">
                <div class="overflow-hidden">
                  <img th:src="${clase.imagen}" class="card-img-top w-100" th:alt="${clase.nombre}"
                    style="height: 200px; object-fit: cover" />
                </div>

                <div class="row d-flex align-items-center card-body">
                  <div class="col-9">
                    <h5 class="card-title mb-1" th:text="${clase.nombre}"></h5>
                    <p class="text-muted mb-1" th:text="${clase.descripcion}"></p>
                    <span class="badge bg-outline-primary text-primary" th:text="${clase.estado}"
                      th:classappend="${clase.estado} == 'Programado' ? ' text-primary' : (${clase.estado} == 'En curso' ? ' text-success' : (${clase.estado} == 'Finalizado' ? ' text-danger' : ' text-dark'))"></span>
                  </div>

                  <div class="col-3 text-end">
                    <div class="dropdown">
                      <button class="btn btn-link text-dark p-0" type="button" data-bs-toggle="dropdown">
                        <i class="bi bi-three-dots-vertical"></i>
                      </button>
                      <ul class="dropdown-menu">
                        <li>
                          <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#claseDetailModal"
                            th:data-id="${clase.claseId}">
                            Ver detalles
                          </a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#claseFormModal"
                            th:data-id="${clase.claseId}">
                            Editar
                          </a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="#" data-bs-toggle="modal"
                            data-bs-target="#gestionarInscritosModal" th:data-id="${clase.claseId}">
                            Gestionar Inscritos
                          </a>
                        </li>
                        <li>
                          <a class="dropdown-item text-danger" href="#" data-bs-toggle="modal"
                            data-bs-target="#claseDeleteModal" th:data-id="${clase.claseId}">
                            Eliminar
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Botón flotante -->
      <div class="fab-container d-lg-none">
        <!-- Opciones -->
        <div class="fab-actions">
          <button class="btn btn-success rounded-circle shadow" data-bs-toggle="modal" data-bs-target="#claseFormModal"
            title="Agregar">
            <i class="bi bi-person-plus"></i>
          </button>
          <button class="btn btn-warning rounded-circle shadow" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#filtroOffcanvas" aria-controls="filtroOffcanvas" title="Filtrar">
            <i class="bi bi-funnel"></i>
          </button>
        </div>

        <!-- Principal -->
        <button class="fab-main btn btn-primary rounded-circle shadow">
          <i class="bi bi-plus-lg"></i>
        </button>
      </div>

  </th:block>

  <!-- Mis modales -->
  <th:block th:fragment="modal">

    <!-- Modal de clase-->
    <div class="modal fade" id="claseFormModal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg">
        <div class="modal-content rounded-4">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">
              Nueva clase
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form id="claseForm" class="row g-3 needs-validation clase-form" data-type="create" novalidate>
              <!-- nombre-->
              <div class="col-md-4">
                <label class="form-label">Nombre de la clase</label>
                <input type="text" class="form-control" name="nombre" pattern="[\w\s]{3,}" required />
                <div class="valid-feedback">Nombre válido</div>
                <div class="invalid-feedback">
                  Ingrese un nombre válido (mínimo 3 caracteres)
                </div>
              </div>

              <!-- Intensidad -->
              <div class="col-md-4">
                <label class="form-label">Intensidad</label>
                <select name="intensidad" class="form-select" required>
                  <option value="Baja" selected>Baja</option>
                  <option value="Media">Media</option>
                  <option value="Alta">Alta</option>
                </select>
              </div>

              <!-- capacidad -->
              <div class="col-md-4">
                <label class="form-label">Capacidad</label>
                <input type="number" name="capacidad" class="form-control" min="1" required />
                <div class="valid-feedback">Capacidad válida</div>
                <div class="invalid-feedback">
                  Ingrese una capacidad válida
                </div>
              </div>

              <!-- fecha -->
              <div class="col-md-4">
                <label class="form-label">Fecha</label>
                <input type="date" id="claseForm-date" name="fecha" class="form-control" required />
                <div class="invalid-feedback">
                  Seleccione una fecha válida
                </div>
              </div>

              <!-- horaInicio -->
              <div class="col-md-4">
                <label class="form-label">Hora Inicio</label>
                <input type="time" id="claseForm-horaInicio" name="horaInicio" class="form-control" required />
                <div class="invalid-feedback">
                  Seleccione una hora válida
                </div>
              </div>

              <!-- horaFin -->
              <div class="col-md-4">
                <label class="form-label">Hora Fin</label>
                <input type="time" id="claseForm-horaFin" name="horaFin" class="form-control" required />
                <div class="invalid-feedback">
                  Seleccione una hora válida
                </div>
              </div>

              <!-- descripcion -->
              <div class="col-md-4">
                <label class="form-label">Descripción</label>
                <textarea name="descripcion" class="form-control" rows="2"
                  placeholder="Escribe una breve descripción de la clase" required></textarea>
                <div class="invalid-feedback">
                  Ingrese una descripción (mínimo 10 caracteres)
                </div>
              </div>

              <!-- objetivo -->
              <div class="col-md-4">
                <label class="form-label">Objetivo</label>
                <textarea name="objetivo" class="form-control" rows="2" placeholder="Escribe el objetivo de la clase"
                  required></textarea>
                <div class="invalid-feedback">
                  Ingrese un objetivo (mínimo 10 caracteres)
                </div>
              </div>

              <!-- Entrenador -->
              <div class="col-md-4">
                <label class="form-label">Entrenador</label>
                <select name="entrenador" class="form-select" required>
                  <option value="">Seleccione un entrenador</option>
                  <option th:each="usuario: ${usuarios}" th:if="${usuario.rol.rolId == 2}"
                    th:value="${usuario.persona.personaId}"
                    th:text="${usuario.persona.nombre} + ' ' + ${usuario.persona.apellido}">
                  </option>
                </select>
              </div>

              <!-- imagen -->
              <div class="col-md-12">
                <label for="clase-image" class="form-label">
                  Foto de la clase
                </label>
                <input type="file" class="form-control" name="file" id="claseForm-image"
                  accept="image/jpeg,image/jpg,image/png" />
              </div>

              <div class="col-12 img-container">
                <img th:src="@{/img/form/image-preview.png}" alt="Foto de la clase" id="claseForm-imagePreview" />
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-light" data-bs-dismiss="modal">
              Cerrar
            </button>
            <button type="submit" class="btn btn-primary" form="claseForm">
              Crear Clase
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Ver detalles -->
    <div class="modal fade" id="claseDetailModal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header p-0 position-relative">
            <img class="img-fluid w-100 rounded-top" id="claseDetail-imagen"
              style="max-height: 300px; object-fit: cover" src="" alt="" />
            <button type="button" class="btn-close position-absolute top-0 end-0 m-2" data-bs-dismiss="modal"
              aria-label="Close"></button>
          </div>

          <div class="modal-body" id="modalDetailClase">
            <!-- Título y descripción -->
            <div class="mb-4 text-center">
              <h3 class="fw-bold" id="claseDetail-nombre"></h3>
              <p class="text-muted" id="claseDetail-descripcion"></p>
            </div>

            <div class="mb-4">
              <h5 class="mb-2">
                <i class="bi bi-bullseye me-2"></i> Objetivo
              </h5>
              <p id="claseDetail-objetivo"></p>
            </div>

            <div class="mb-4">
              <h5 class="mb-2">
                <i class="bi bi-person-badge me-2"></i> Entrenador
              </h5>
              <div class="d-flex gap-2 border border-2 rounded-3 p-3 align-items-center">
                <i class="bi bi-person-fill fs-4 text-primary"></i>
                <h5 class="mb-0" id="claseDetail-entrenador"></h5>
              </div>
            </div>

            <div class="row g-3 text-center">
              <div class="col-12 col-md-4">
                <div class="border border-2 rounded-3 p-3 h-100">
                  <h6 class="mb-2">
                    <i class="bi bi-lightning-charge-fill me-1"></i>
                    Intensidad
                  </h6>
                  <h5 class="mb-0" id="claseDetail-intensidad"></h5>
                </div>
              </div>

              <div class="col-12 col-md-4">
                <div class="border border-2 rounded-3 p-3 h-100">
                  <h6 class="mb-2">
                    <i class="bi bi-clock-fill me-1"></i> Duración
                  </h6>
                  <h5 id="claseDetail-duracion"></h5>
                </div>
              </div>

              <div class="col-12 col-md-4">
                <div class="border border-2 rounded-3 p-3 h-100">
                  <h6 class="mb-2">
                    <i class="bi bi-calendar-event-fill me-1"></i> Fecha
                  </h6>
                  <h5 id="claseDetail-fecha"></h5>
                </div>
              </div>

              <div class="col-12 col-md-6">
                <div class="border border-2 rounded-3 p-3 h-100">
                  <h6 class="mb-2">
                    <i class="bi bi-alarm-fill me-1"></i> Hora Inicio
                  </h6>
                  <h5 id="claseDetail-horaInicio"></h5>
                </div>
              </div>

              <div class="col-12 col-md-6">
                <div class="border border-2 rounded-3 p-3 h-100">
                  <h6 class="mb-2">
                    <i class="bi bi-alarm me-1"></i> Hora Fin
                  </h6>
                  <h5 id="claseDetail-horaFin"></h5>
                </div>
              </div>

              <div class="col-12 col-md-6">
                <div class="border border-2 rounded-3 p-3 h-100">
                  <h6 class="mb-2">
                    <i class="bi bi-people-fill me-1"></i> Capacidad
                  </h6>
                  <h5 id="claseDetail-capacidad"></h5>
                </div>
              </div>

              <div class="col-12 col-md-6">
                <div class="border border-2 rounded-3 p-3 h-100">
                  <h6 class="mb-2">
                    <i class="bi bi-check-circle-fill me-1"></i> Estado
                  </h6>
                  <h5 class="text-primary" id="claseDetail-estado"></h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Eliminar -->
    <div class="modal fade" id="claseDeleteModal">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Confirmar Eliminación</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body">
            <div class="text-center">
              <i class="bi bi-exclamation-triangle text-warning" style="font-size: 3rem"></i>
              <h6 class="mt-3">
                ¿Está seguro de que desea eliminar la clase "<span class="text-danger" id="deleteClaseName"></span>"?
              </h6>
              <p class="text-muted">
                Esta acción no se puede revertir.
              </p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Cancelar
            </button>
            <button type="button" class="btn btn-danger eliminarClase" data-id="0" id="deleteClaseBtn">
              <i class="bi bi-trash me-2"></i>Eliminar
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Gestionar inscritos-->
    <div class="modal fade" id="gestionarInscritosModal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content rounded-4 p-3">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Gestionar socios inscritos</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <!-- Título -->
            <div class="mb-4 text-center">
              <h5 class="table-title"></h5>
            </div>

            <!-- Tabla de socios -->
            <table class="table table-hover align-middle">
              <!-- cabezeras de la tabla -->
              <thead class="table-light">
                <tr class="text-center">
                  <th>Nombre</th>
                  <th>Apellido</th>
                  <th>DNI</th>
                  <th>Fecha inscripción</th>
                  <th>Acción</th>
                </tr>
              </thead>
              <!-- contenido de la tabla -->
              <tbody id="sociosInscritosTable" class="text-center">
                <tr id="noSociosRow">
                  <td colspan="5" class="text-muted py-4">
                    Aún no hay socios inscritos
                  </td>
                </tr>
              </tbody>
            </table>

            <!-- Formulario de búsqueda y agregar socio -->
            <form id="agregarSocioForm" class="row g-2 align-items-center mt-4 needs-validation" novalidate>
              <!-- Campo DNI -->
              <div class="col-md-8">
                <input type="text" class="form-control" placeholder="Ingrese DNI del socio" pattern="[0-9]{8}"
                  name="dni" required />
                <div class="invalid-feedback">
                  Ingrese un dni válido (8 digitos)
                </div>
              </div>
              <!-- Botón agregar -->
              <div class="col-md-4 text-start">
                <button type="submit" id="agregarSocioBtn" data-id="0" class="btn btn-primary w-100">
                  Agregar
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </th:block>

  <th:block th:fragment="script">
    <script th:inline="javascript">
      const claseListRaw = /*[[${clases}]]*/[]
      console.log(claseListRaw)
    </script>
    <script type="module" th:src="@{/js/clases/main.js}"></script>
  </th:block>
</body>

</html>