<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<th:block th:fragment="content">
			<h2 class="mt-4">Reporte</h2>
			<div class="row mt-3">
				<div class="col-md">
					<div class="card card-flat">
						<div class="card-body">
							<h5 class="text-primary">Socios</h5>
							<h3 class="my-4">102</h3>
							<p class="text-success mb-0">
								<i class="bi bi-arrow-up-short"></i> 4.1%
							</p>
							<p class="text-muted mb-0">Desde el ultimo mes</p>
						</div>
					</div>
				</div>
				<div class="col-md">
					<div class="card card-flat">
						<div class="card-body">
							<h5 class="text-primary">Ingresos</h5>
							<h3 class="my-4">$ 11,660</h3>
							<p class="text-success mb-0">
								<i class="bi bi-arrow-up-short"></i> 2%
							</p>
							<p class="text-muted mb-0">Desde el ultimo mes</p>
						</div>
					</div>
				</div>
				<div class="col-md">
					<div class="card card-flat">
						<div class="card-body">
							<h5 class="text-primary">Membresias canceladas</h5>
							<h3 class="my-4">12</h3>
							<p class="text-danger mb-0">
								<i class="bi bi-arrow-down-short"></i> 2.7%
							</p>
							<p class="text-muted mb-0">Desde el ultimo mes</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row mt-4">
				<div class="col-md-8">
					<div class="card card-flat">
						<div class="card-body">
							<h5 class="text-primary">Ingresos Mensuales</h5>
							<div id="chart1"></div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card card-flat">
						<div class="card-body">
							<h5 class="text-primary">Membresias</h5>
							<div id="chart2"></div>
						</div>
					</div>
				</div>
			</div>
			<button id="showToast">toasat</button>
		</th:block>

		<th:block th:fragment="modal"></th:block>

		<th:block th:fragment="script">
			<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
			<script th:inline="javascript">
				const data = /*[[${charData}]]*/ ''
				const { earningPerMonth, membershipPie } = JSON.parse(data)

				const options1 = {
					series: [
						{
							name: 'Ingresos',
							data: earningPerMonth.earnings,
						},
					],
					chart: {
						height: 350,
						type: 'area',
					},
					dataLabels: {
						enabled: false,
					},
					stroke: {
						curve: 'smooth',
					},
					xaxis: {
						categories: earningPerMonth.months,
					},
					tooltip: {
						y: {
							formatter: function (val) {
								return '$ ' + val
							},
						},
					},
				}

				const chart1 = new ApexCharts(
					document.querySelector('#chart1'),
					options1
				)
				chart1.render()

				const options2 = {
					series: membershipPie.members,
					chart: {
						type: 'pie',
					},
					legend: {
						position: 'bottom',
					},
					labels: membershipPie.memberships,
				}

				const chart2 = new ApexCharts(
					document.querySelector('#chart2'),
					options2
				)
				chart2.render()
			</script>
			<script type="module" th:src="@{/js/home/main.js}"></script>
		</th:block>
	</body>
</html>
