<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <th:block th:fragment="content">
      <div class="d-flex justify-content-between align-items-center mb-4">
        <h2><i class="bi bi-card-checklist me-2"></i>Gestión de Membresías</h2>
        <button
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#membershipFormModal"
        >
          <i class="bi bi-plus-circle me-2"></i>Nueva Membresía
        </button>
      </div>

      <div class="row g-4" id="membership-container">
        <div
          class="col-12 col-md-6 col-lg-4 col-xxl-3"
          th:each="membresia : ${membershipList}"
          th:data-id="${membresia.membresiaId}"
        >
          <div class="workout-grid shadow-sm">
            <div class="img-wrap position-relative">
              <div class="dropdown position-absolute top-0 end-0 m-2 z-3">
                <a href="#" class="text-white" data-bs-toggle="dropdown">
                  <i class="bi bi-three-dots-vertical fs-5"></i>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a
                      class="dropdown-item"
                      href="#"
                      data-bs-toggle="modal"
                      data-bs-target="#membershipFormModal"
                      th:data-id="${membresia.membresiaId}"
                    >
                      <i class="bi bi-pencil me-2"></i> Editar
                    </a>
                  </li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li>
                    <a
                      class="dropdown-item text-danger"
                      href="#"
                      data-bs-toggle="modal"
                      data-bs-target="#membershipDeleteModal"
                      th:data-id="${membresia.membresiaId}"
                    >
                      <i class="bi bi-trash me-2"></i>Eliminar
                    </a>
                  </li>
                </ul>
              </div>
              <img
                th:src="${membresia.imagen}"
                alt="membership Image"
                class="w-100 rounded-3"
              />
            </div>
            <div class="workout-detail p-3">
              <a href="#" class="text-decoration-none">
                <h5 class="fw-semibold mb-2" th:text="${membresia.nombre}"></h5>
              </a>
              <h6 class="fw-semibold text-secondary">
                S/ <span th:text="${membresia.precioOferta}"></span>
                <small class="text-decoration-line-through text-muted ms-1"
                  >S/ <span th:text="${membresia.precio}"></span
                ></small>
                <span class="ms-2 small text-muted">
                  <i class="bi bi-clock"></i>
                  <span th:text="${membresia.duracion}"></span> dias
                </span>
              </h6>
              <p
                class="small text-muted mb-2"
                th:text="${membresia.descripcion}"
              ></p>
              <div class="d-flex justify-content-between align-items-center">
                <span
                  class="badge"
                  th:classappend="${membresia.estado ? ' bg-success' : ' bg-secondary'}"
                  th:text="${membresia.estado ? 'Activo' : 'Inactivo'}"
                >
                </span>
                <small class="text-muted">
                  limite:
                  <span th:text="${membresia.limiteCupos}"></span> socios
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </th:block>

    <th:block th:fragment="modal">
      <!-- Modal de membresia -->
      <div class="modal fade" id="membershipFormModal" tabindex="-1">
        <div
          class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg"
        >
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Nueva Membresía</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
              ></button>
            </div>
            <div class="modal-body">
              <form
                class="row g-3 needs-validation membership-form"
                id="membershipForm"
                novalidate
                data-type="create"
              >
                <div class="col-md-6">
                  <label class="form-label">Nombre del Plan</label>
                  <input
                    type="text"
                    class="form-control"
                    name="nombre"
                    pattern="[\w\s]{3,}"
                    required
                  />
                  <div class="valid-feedback">Nombre válido</div>
                  <div class="invalid-feedback">
                    Ingrese un nombre válido (mínimo 3 caracteres)
                  </div>
                </div>

                <div class="col-md-3">
                  <label class="form-label">Precio Regular</label>
                  <div class="input-group">
                    <span class="input-group-text">S/</span>
                    <input
                      type="number"
                      class="form-control"
                      name="precio"
                      min="1"
                      step="0.01"
                      required
                    />
                    <div class="valid-feedback">Precio válido</div>
                    <div class="invalid-feedback">Ingrese un precio válido</div>
                  </div>
                </div>

                <div class="col-md-3">
                  <label class="form-label">Precio Promocional</label>
                  <div class="input-group">
                    <span class="input-group-text">S/</span>
                    <input
                      type="number"
                      name="precioOferta"
                      class="form-control"
                      min="0"
                      step="0.01"
                    />
                    <div class="invalid-feedback">
                      Debe ser menor al precio regular
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <label class="form-label">Fecha Inicio</label>
                  <input type="date" class="form-control" name="inicioOferta" />
                  <div class="invalid-feedback">
                    Seleccione una fecha válida
                  </div>
                </div>

                <div class="col-md-6">
                  <label class="form-label">Fecha Final</label>
                  <input type="date" class="form-control" name="finOferta" />
                  <div class="invalid-feedback">
                    Seleccione una fecha válida
                  </div>
                </div>

                <div class="col-12">
                  <label class="form-label">Descripción</label>
                  <textarea
                    class="form-control"
                    rows="3"
                    name="descripcion"
                  ></textarea>
                  <div class="invalid-feedback">
                    Ingrese una descripción (mínimo 10 caracteres)
                  </div>
                </div>

                <div class="col-md-4">
                  <label class="form-label">Estado</label>
                  <select class="form-select" name="estado" required>
                    <option value="activo" selected>Activo</option>
                    <option value="inactivo">Inactivo</option>
                  </select>
                </div>

                <div class="col-md-4">
                  <label class="form-label">Duración (dias)</label>
                  <input
                    type="number"
                    name="duracion"
                    class="form-control"
                    min="1"
                    required
                  />
                  <div class="valid-feedback">Duración válida</div>
                  <div class="invalid-feedback">
                    Ingrese una duración válida
                  </div>
                </div>

                <div class="col-md-4">
                  <label class="form-label">Capacidad</label>
                  <input
                    type="number"
                    name="limiteCupos"
                    class="form-control"
                    min="1"
                    required
                  />
                  <div class="valid-feedback">Capacidad válida</div>
                  <div class="invalid-feedback">
                    Ingrese una capacidad válida
                  </div>
                </div>

                <div class="col-md-12">
                  <label for="membership-image" class="form-label">
                    Foto de la membresia
                  </label>
                  <input
                    type="file"
                    class="form-control"
                    name="file"
                    accept="image/jpeg,image/jpg,image/png"
                    id="membershipForm-image"
                  />
                </div>
                <div class="col-12 img-container">
                  <img
                    th:src="@{/img/form/image-preview.png}"
                    alt="Foto de la membresía"
                    id="membershipForm-imagePreview"
                  />
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-light"
                data-bs-dismiss="modal"
              >
                Cerrar
              </button>
              <button
                type="submit"
                class="btn btn-primary"
                form="membershipForm"
              >
                Crear Membresia
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal Confirmacion Eliminar -->
      <div class="modal fade" id="membershipDeleteModal">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Confirmar Eliminación</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
              ></button>
            </div>
            <div class="modal-body">
              <div class="text-center">
                <i
                  class="bi bi-exclamation-triangle text-warning"
                  style="font-size: 3rem"
                ></i>
                <h6 class="mt-3">
                  ¿Está seguro de que desea eliminar la membresia "<span
                    class="text-danger"
                    id="deleteMembershipName"
                  ></span
                  >"?
                </h6>
                <p class="text-muted">
                  Esta acción no se puede deshacer y afectará a los socios
                  asociados.
                </p>
                <!-- <div class="alert alert-warning">
                                <i class="bi bi-people-fill me-2"></i>
                                <strong>35 socios</strong> tienen esta membresía actualmente
                            </div> -->
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Cancelar
              </button>
              <button
                type="button"
                class="btn btn-danger eliminarMembresia"
                data-id="0"
                id="deleteMembershipBtn"
              >
                <i class="bi bi-trash me-2"></i>Eliminar
              </button>
            </div>
          </div>
        </div>
      </div>
    </th:block>

    <th:block th:fragment="script">
      <script th:inline="javascript">
        const membershipListRaw = /*[[${membershipList}]]*/ []
        console.log(membershipListRaw)
      </script>
      <script type="module" th:src="@{/js/membresias/main.js}"></script>
    </th:block>
  </body>
</html>
