<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
</head>

<body>
  <th:block th:fragment="content">
    <div class="container">
      <!-- Principal -->
      <div class="d-flex justify-content-between align-items-center mb-4">
        <h2><i class="bi bi-people me-2"></i>Gestión de Rutinas</h2>
      </div>

      <!-- Tabla de sociso sin rutina Rutinas -->
      <div class="table-responsive mt-4">
        <h3 class="text-center">Socios sin rutina</h3>
        <table class="table table-hover align-middle">
          <thead class="table-light">
            <tr>
              <th>Nombre</th>
              <th>DNI</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="socio : ${socios}" th:if="${socio.rutinas == null or socio.rutinas.isEmpty()}">
              <td th:text="${socio.nombre}"></td>
              <td th:text="${socio.dni}"></td>
              <td>
                <div class="dropdown">
                  <button class="btn btn-link text-dark p-0" type="button" data-bs-toggle="dropdown">
                    <i class="bi bi-three-dots-vertical"></i>
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#asignarRutinaModal"
                        th:attr="data-id=${socio.personaId}">
                        <i class="bi bi-plus-circle me-2"></i>Asignar rutina
                      </a>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Tabla con rutinas activas -->
      <div class="table-responsive">
        <h3 class="text-center mt-5">Socios con rutinas</h3>
        <table class="table table-hover align-middle">
          <thead class="table-light">
            <tr>
              <th>Nombre</th>
              <th>DNI</th>
              <th>Nombres rutinas</th>
              <th>Fecha Inicio</th>
              <th>Fecha Fin</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody id="rutinaTable">
            <tr th:each="socio : ${socios}" th:if="${socio.rutinas != null and !socio.rutinas.isEmpty()}">
              <td th:text="${socio.nombre}"></td>
              <td th:text="${socio.dni}"></td>
              <td>
                <div class="d-flex flex-column">
                  <span th:each="rutina : ${socio.rutinas}" th:text="${rutina.nombre}"
                    class="badge bg-primary mb-1 align-self-start"></span>
                </div>
              </td>
              <td>
                <div class="d-flex flex-column">
                  <span th:each="rutina : ${socio.rutinas}" th:text="${rutina.fechaInicio}"
                    class="badge bg-success mb-1 align-self-start"></span>
                </div>
              </td>
              <td>
                <div class="d-flex flex-column">
                  <span th:each="rutina : ${socio.rutinas}" th:text="${rutina.fechaFin}"
                    class="badge bg-warning mb-1 align-self-start"></span>
                </div>
              </td>
              <td>
                <div class="dropdown">
                  <button class="btn btn-link text-dark p-0" type="button" data-bs-toggle="dropdown">
                    <i class="bi bi-three-dots-vertical"></i>
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" href="#" data-bs-toggle="modal"
                        th:attr="data-bs-target=|#detalleSocioModal__${socio.personaId}|">
                        <i class="bi bi-eye me-2"></i>Ver detalle
                      </a>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  </th:block>

  <th:block th:fragment="modals">

    <!-- Modal Detalle de Socio -->
    <div th:each="socio : ${socios}">
      <div class="modal fade" th:id="|detalleSocioModal__${socio.personaId}|" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen modal-dialog-centered">
          <div class="modal-content rounded-4 p-3">

            <!-- Header -->
            <div class="modal-header">
              <h5 class="modal-title" th:text="'Detalle de Rutinas - Socio: ' + ${socio.nombre + ' ' + socio.apellido}">
              </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Body -->
            <div class="modal-body">
              <div class="row g-4">

                <!-- Tabla Rutinas -->
                <div class="col-12 col-lg-6">
                  <div class="d-flex justify-content-between align-items-center mb-2 flex-wrap gap-2">
                    <h6 class="mb-0">Rutinas</h6>
                    <button class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#crearRutina">+
                      Agregar rutina</button>
                  </div>
                  <div class="table-responsive">
                    <table class="table table-hover table-bordered align-middle">
                      <thead class="table-light text-center">
                        <tr>
                          <th>Nombre</th>
                          <th>Descripcion</th>
                          <th>Objetivo</th>
                          <th>Inicio</th>
                          <th>Fin</th>
                          <th>Acciones</th>
                        </tr>
                      </thead>
                      <tbody class="text-center">
                        <tr th:each="rutina : ${socio.rutinas}" class="fila-rutina"
                          th:data-rutina-id="${rutina.rutinaId}" th:data-socio-id="${socio.personaId}">
                          <td th:text="${rutina.nombre}"></td>
                          <td th:text="${rutina.descripcion}"></td>
                          <td th:text="${rutina.objetivo}"></td>
                          <td th:text="${rutina.fechaInicio}"></td>
                          <td th:text="${rutina.fechaFin}"></td>
                          <td>
                            <div class="dropdown">
                              <button class="btn btn-link text-dark p-0" type="button" data-bs-toggle="dropdown">
                                <i class="bi bi-three-dots-vertical"></i>
                              </button>
                              <ul class="dropdown-menu">
                                <li>
                                  <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#socioModal">
                                    <i class="bi bi-pencil me-2"></i>Editar
                                  </a>
                                </li>
                                <li>
                                  <hr class="dropdown-divider">
                                </li>
                                <li>
                                  <a class="dropdown-item text-danger" href="#" data-bs-toggle="modal"
                                    data-bs-target="#confirmDeleteModal">
                                    <i class="bi bi-trash me-2"></i>Eliminar
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>

                <!-- Tabla Ejercicios -->
                <div class="col-12 col-lg-6">
                  <div class="d-flex justify-content-between align-items-center mb-2 flex-wrap gap-2">
                    <h6 class="mb-0">Ejercicios</h6>
                    <button class="btn btn-sm btn-success">+ Agregar ejercicio</button>
                  </div>
                  <div class="table-responsive">
                    <table id="tablaEjercicios" class="table table-hover table-bordered align-middle">
                      <thead class="table-light text-center">
                        <tr>
                          <th>Día Semana</th>
                          <th>Ejercicio</th>
                          <th>Series</th>
                          <th>Reps</th>
                          <th>Peso (kg)</th>
                          <th>Calorias</th>
                          <th>Descanso (seg)</th>
                          <th>Acciones</th>
                        </tr>
                      </thead>
                      <tbody class="text-center">
                        <tr>
                          <td colspan="8" class="text-muted">Selecciona una rutina para ver sus ejercicios</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Crear rutina-->
    <div class="modal fade" id="crearRutina" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content rounded-4">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Crear Rutina</h1> <button type="button"
              class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form id="formCrearRutina" class="row needs-validation" novalidate>

              <!-- nombre-->
              <div class="mb-3 col-md-6"> <label for="nombre" class="form-label">Nombre de la rutina</label>
                <input type="text" name="nombre" class="form-control" required>
              </div>

              <!-- Entrenador -->
              <div class="mb-3 col-md-6"> <label for="entrenador" class="form-label">Entrenador</label> <select
                  name="entrenador" class="form-select" id="select_entrenador" required>
                  <option value="">Seleccione un entrenador</option>
                  <option th:each="usuario: ${usuarios}" th:if="${usuario.rol.rolId == 2}"
                    th:value="${usuario.persona.personaId}"
                    th:text="${usuario.persona.nombre} + ' ' + ${usuario.persona.apellido}">
                  </option>
                </select>
              </div>

              <!-- descripcion -->
              <div class="mb-3 col-md-6"> <label for="descripcion" class="form-label">Descripción</label>
                <textarea name="descripcion" id="descripcion" class="form-control" rows="3"
                  placeholder="Escribe una breve descripción de la rutina" required></textarea>
              </div>

              <!-- objetivo -->
              <div class="mb-3 col-md-6"> <label for="objetivo" class="form-label">Objetivo</label>
                <textarea name="objetivo" id="objetivo" class="form-control" rows="3"
                  placeholder="Escribe el objetivo de la rutina" required></textarea>
              </div>

              <!-- fechaInicio -->
              <div class="mb-3 col-md-6"> <label for="fechaInicio" class="form-label">Fecha Inicio</label> <input
                  type="date" name="fechaInicio" class="form-control" required> </div>

              <!-- fechaFin -->
              <div class="mb-3 col-md-6"> <label for="fechaFin" class="form-label">Fecha Fin</label> <input type="date"
                  name="fechaFin" class="form-control" required> </div>
              <button type="submit" class="btn btn-primary col-5 ms-3">Crear rutina</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script type="module" th:src="@{/js/rutinas/main.js}"></script>

  </th:block>
</body>

</html>