.body_client {
    background-color: var(--dark-lighten) !important;
    min-height: 100vh;
}

.text-white {
    color: white !important;
}

.bg-red-gym {
    background-color: var(--red) !important;
}